<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ first_name }} {{ last_name }}</title>
    </head>
    <body>
        <label>Name : {{ first_name}} {{ last_name }}</label><br><br>
        <label>Birthdate: {{ birthdate }}</label><br><br>
        <img src={{path}} name="display_pic"><br><br>
        <form action="" method="POST">
            <button type="submit">LogOut</button>
        </form>
    </body>
</html>